@import "../variables.scss";

.rooms {
  width: 100%;
  height: 100%;
  height: fit-content;
  padding-bottom: 150px;
  position: relative;

  .check_icon {
    display: none;
  }

  .rooms_container {
    display: flex;
    height: 100vh;
    padding-top: 100px;
    position: relative;

    .wrapper {
      flex: 4;
      height: 100%;
      overflow-y: scroll;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 0 10px 20px 0;

      &::-webkit-scrollbar {
        width: 5px;
        background: $background2;
      }
      &::-webkit-scrollbar-thumb {
        background: rgb(187, 187, 187);
        border-radius: 5px;
      }

      .box {
        background: $background2;
        border-radius: 10px;
        height: 650px;

        .img {
          height: 55%;
          overflow: hidden;
          border-radius: 10px 10px 0 0;
        }
        .txt {
          height: 45%;
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 10px;

          section {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
              font-size: 25px;

              span {
                font-size: 13px;
                color: $box;
              }
            }

            h4 {
              font-size: 20px;
              text-transform: capitalize;
            }
          }

          p {
            color: $box;
            font-size: 15px;
            padding-top: 5px;

            span {
              color: black;
              text-transform: capitalize;
              font-size: 18px;
            }
          }

          .btn {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
              width: 100%;
              justify-content: center;
              font-size: 13px;
            }
          }
        }
      }
    }

    .form {
      flex: 1.5;
      padding: 0 20px;

      h4 {
        text-transform: capitalize;
        font-size: 30px;
      }

      form {
        margin-top: 20px;

        input {
          padding: 15px;
          background: transparent;
          border: 1px solid grey;
          border-radius: 5px;
          color: $text-color2;
          width: 100%;
          margin-bottom: 15px;

          &::placeholder {
            color: gray;
            text-transform: capitalize;
          }
        }
        div {
          display: flex;
          align-items: center;
          gap: 10px;

          section {
            position: relative;

            ul {
              list-style: none;
              background: $background2;
              position: absolute;
              width: 170px;
              cursor: pointer;
              box-shadow: 0 0 5px $box;
              border-radius: 10px;
              overflow: hidden;
              display: none;

              li {
                text-transform: capitalize;
                font-size: 15px;
                padding: 5px 15px;

                &:first-child {
                  padding-top: 15px;
                }

                &:last-child {
                  padding-bottom: 15px;
                }

                &:hover {
                  background: $background1;
                }
              }
            }
          }

          .room_no {
            width: 30%;
          }
        }

        button {
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .rooms {
    .check_icon {
      display: block;
      position: absolute;
      top: 50vh;
      right: 5px;
      background: $unique;
      color: white;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0 5px $box;
      z-index: 10;
      cursor: pointer;
      .icon {
        font-size: 20px;
      }
    }

    .rooms_container {
      min-height: fit-content;
      height: fit-content;
      overflow-x: hidden;

      .form {
        width: 0;
        right: -110%;
        position: absolute;
        transition: 0.4s ease;

        &.active {
          width: 100%;
          right: 0;
          min-height: fit-content;
          padding: 0;
          height: fit-content;
          position: relative;
        }
      }

      .wrapper {
        height: 100vh;
        left: 0;
        transform: translateX(0);
        position: relative;
        transition: 0.4s ease;

        &.active {
          left: 0;
          transform: translateX(-110%);
          position: absolute;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .rooms .rooms_container .wrapper {
    grid-template-columns: 1fr;

    .box {
      height: 580px;
      .img {
        height: 50%;
      }
      .txt {
        height: 50%;
        section {
          h3 {
            line-height: 25px;
          }
          h4 {
            line-height: 20px;
          }
        }
        p span {
          font-size: 15px;
        }
      }
    }
  }
}
